body {
  background-color: #d2c0ac;
  color: #333333;
  a, #sidebar-second .glyphicon {
    color: #b73a10;
  }
  a {
    text-decoration-line: underline;
  }
  a:visited {
    color:#ad4321;
  }
}

.view {

  .view-filters {
    .btn-info {
      background-color: #00829b;
    }
  }
}

#content-wrapper, #footer-contact, #postscript-group {
  background-color: #eae5d9;
}

#search-block-form .btn-primary{
  background-color:#232323;
}

#zone-branding {
  background-color: #547d79;
  .region-menu ul.menu ul {
    a:hover {
      background-color: #5c8984 !important;
      color: #ffffff !important;
    }
  }
}

#zone-footer {
  background-color: #547d78;
  p, div, span {
    color: #ffffff;
  }
  a {
    color: #fdfdfd;
  }
  #region-footer-second {
    background-color: #8b8175;
  }
  #footer-contact a {
    color: #b73a10;
  }
}

//#breadcrumb, #zone-header .region {
//  background-color: #262626;
//}
//
//#zone-header .region {
//  color: #ffffff;
//}

#preface-group {
  background-color: #d9e5e8;
  h2.title, .block-title {
    background-color: #547d80;
    color: #ffffff;
  }
}

p.file, div.file, span.file, a.file, div.more-link, a.more-link {
  background-color: #e8e2de;
}

.node-basic-slideshow {
  .field-slideshow-pager {
    a {
      background-color: #c5d8db;
    }
    a.activeSlide {
      background-color: #6d9591;
    }
  }
}

