body {
  background-color: #d2c0ac;
  color: #333333;
}
body a, body #sidebar-second .glyphicon {
  color: #b73a10;
}
body a {
  text-decoration-line: underline;
}
body a:visited {
  color: #ad4321;
}

.view .view-filters .btn-info {
  background-color: #00829b;
}

#content-wrapper, #footer-contact, #postscript-group {
  background-color: #eae5d9;
}

#zone-branding {
  background-color: #547d79;
}
#zone-branding .region-menu ul.menu ul a:hover {
  background-color: #5c8984 !important;
  color: #ffffff !important;
}

#zone-footer {
  background-color: #547d78;
}
#zone-footer p, #zone-footer div, #zone-footer span {
  color: #ffffff;
}
#zone-footer a {
  color: #fdfdfd;
}
#zone-footer #region-footer-second {
  background-color: #8b8175;
}
#zone-footer #footer-contact a {
  color: #b73a10;
}

#preface-group {
  background-color: #d9e5e8;
}
#preface-group h2.title, #preface-group .block-title {
  background-color: #547d80;
  color: #ffffff;
}

p.file, div.file, span.file, a.file, div.more-link, a.more-link {
  background-color: #e8e2de;
}

.node-basic-slideshow .field-slideshow-pager a {
  background-color: #c5d8db;
}
.node-basic-slideshow .field-slideshow-pager a.activeSlide {
  background-color: #6d9591;
}
