body {
  background-color: #a99071;
  color: #333333;
}
body a, body #sidebar-second .glyphicon {
  color: #b73a10;
  text-decoration-line: underline;
}
body a:visited {
  color: #ad4321;
}

#content-wrapper aside .region,
#content,
#footer-branding,
#footer-contact,
.single-postscript .mbp-defaults-row,
.single-postscript .region.menu-block-placement-doesnt-exist,
.two-postscript .region,
.threee-postscript .region,
.four-postscript .region {
  background-color: #eae5d7;
}

@media (max-width: 768px) {
  #zone-branding {
    background-color: #547d79;
  }
}
#zone-branding .region-menu .content > ul.menu > li > a {
  color: #000009;
}
#zone-branding .region-menu ul.menu ul a:hover {
  background-color: #5c8984 !important;
  color: #ffffff !important;
}

#search-block-form .btn-primary {
  background-color: #232323;
}

#zone-footer {
  background-color: #547d78;
}
#zone-footer p, #zone-footer div, #zone-footer span {
  color: #ffffff;
}
#zone-footer a {
  color: #fdfdfd;
}
#zone-footer #region-footer-second {
  background-color: #8b8175;
}
#zone-footer #footer-contact a {
  color: #b73a10;
}

#zone-header .region {
  background-color: #494949;
}

#zone-header .region {
  color: #ffffff;
}

#preface-group h2.title, #preface-group .block-title {
  color: #333333;
}

#preface-group .menu-block-placement-doesnt-exist {
  background-color: #d9e5e8;
}

#preface-group .mbp-defaults-row > div {
  background-color: #d9e5e8;
}

p.file, div.file, span.file, a.file, div.more-link, a.more-link, .read-more a, a.views-more-link {
  background-color: #e8e2de;
}

.node-basic-slideshow .field-slideshow-pager a {
  background-color: #d9e5e8;
}
.node-basic-slideshow .field-slideshow-pager a.activeSlide {
  background-color: #6d9591;
}
