@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

#page, #colorbox {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.0em;
  width: 100%;
  display: block;
  min-height: 100%;
  position: relative;
}
@media (min-width: 992px) {
  #page .col-md-1, #colorbox .col-md-1 {
    width: 8.3%;
  }
  #page .col-md-2, #colorbox .col-md-2 {
    width: 16.6%;
  }
  #page .col-md-4, #colorbox .col-md-4 {
    width: 33.3%;
  }
  #page .col-md-5, #colorbox .col-md-5 {
    width: 41.7%;
  }
  #page .col-md-7, #colorbox .col-md-7 {
    width: 58.3%;
  }
  #page .col-md-8, #colorbox .col-md-8 {
    width: 66.6%;
  }
  #page .col-md-10, #colorbox .col-md-10 {
    width: 83.3%;
  }
  #page .col-md-11, #colorbox .col-md-11 {
    width: 91.7%;
  }
}
#page [class^="col-"], #colorbox [class^="col-"] {
  padding: 0;
}
#page .block-mbp-defaults li.block-configure, #colorbox .block-mbp-defaults li.block-configure {
  display: none !important;
}
#page .region, #colorbox .region {
  padding: 0 15px 25px;
}
#page .region-header-first, #page .region-header-second, #colorbox .region-header-first, #colorbox .region-header-second {
  padding: 0;
}
#page input, #page select, #colorbox input, #colorbox select {
  max-width: 100%;
  height: auto;
  width: auto;
}
#page .form-type-checkbox, #page .form-type-radio, #colorbox .form-type-checkbox, #colorbox .form-type-radio {
  padding-left: 20px;
}
#page img, #page iframe, #page table, #page p, #colorbox img, #colorbox iframe, #colorbox table, #colorbox p {
  max-width: 100%;
}
#page img, #page table, #page p, #colorbox img, #colorbox table, #colorbox p {
  height: auto;
}
#page p, #colorbox p {
  line-height: 20px;
  margin-bottom: 10px;
}
#page legend, #colorbox legend {
  font-size: 1.2em;
}
#page h1, #page h2, #page h3, #page h4, #page h5, #colorbox h1, #colorbox h2, #colorbox h3, #colorbox h4, #colorbox h5 {
  color: #600;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0 10px;
  padding: 0;
  letter-spacing: 0;
}
#page h1.accordion-clicker, #page h2.accordion-clicker, #page h3.accordion-clicker, #page h4.accordion-clicker, #page h5.accordion-clicker, #colorbox h1.accordion-clicker, #colorbox h2.accordion-clicker, #colorbox h3.accordion-clicker, #colorbox h4.accordion-clicker, #colorbox h5.accordion-clicker {
  text-transform: none;
}
#page h1, #colorbox h1 {
  font-weight: bold;
  color: #333;
  font-size: 1.5em;
  text-transform: none;
}
#page h2, #colorbox h2 {
  border-bottom: 4px solid #dcd2c3;
  padding: 15px 0 7px;
  margin-bottom: 10px;
  font-size: 1.3em;
  text-transform: none;
  color: #600;
}
#page h3, #page h4, #page h5, #page h6, #colorbox h3, #colorbox h4, #colorbox h5, #colorbox h6 {
  font-size: 1.0em;
}
#page .node li.views-row, #colorbox .node li.views-row {
  list-style-type: none;
}
#page .node ul, #page .view .views-field ul, #page .view .field-content ul, #colorbox .node ul, #colorbox .view .views-field ul, #colorbox .view .field-content ul {
  margin: 10px 0 0 25px;
}
#page .node ul.chosen-choices, #page .node ul.pagination, #page .view .views-field ul.chosen-choices, #page .view .views-field ul.pagination, #page .view .field-content ul.chosen-choices, #page .view .field-content ul.pagination, #colorbox .node ul.chosen-choices, #colorbox .node ul.pagination, #colorbox .view .views-field ul.chosen-choices, #colorbox .view .views-field ul.pagination, #colorbox .view .field-content ul.chosen-choices, #colorbox .view .field-content ul.pagination {
  margin: 0;
}
#page .node ul li, #page .view .views-field ul li, #page .view .field-content ul li, #colorbox .node ul li, #colorbox .view .views-field ul li, #colorbox .view .field-content ul li {
  list-style-type: disc;
}
#page .node ul.contextual-links li, #page .view .views-field ul.contextual-links li, #page .view .field-content ul.contextual-links li, #colorbox .node ul.contextual-links li, #colorbox .view .views-field ul.contextual-links li, #colorbox .view .field-content ul.contextual-links li {
  list-style-type: none;
}
#page .node ul ul, #page .view .views-field ul ul, #page .view .field-content ul ul, #colorbox .node ul ul, #colorbox .view .views-field ul ul, #colorbox .view .field-content ul ul {
  margin: 5px 25px;
}
#page .node ul ul li, #page .view .views-field ul ul li, #page .view .field-content ul ul li, #colorbox .node ul ul li, #colorbox .view .views-field ul ul li, #colorbox .view .field-content ul ul li {
  list-style-type: circle;
}
#page .node ul ul ul li, #page .view .views-field ul ul ul li, #page .view .field-content ul ul ul li, #colorbox .node ul ul ul li, #colorbox .view .views-field ul ul ul li, #colorbox .view .field-content ul ul ul li {
  list-style-type: square;
}
#page .node ul.horizontal-tabs-list, #page .view .views-field ul.horizontal-tabs-list, #page .view .field-content ul.horizontal-tabs-list, #colorbox .node ul.horizontal-tabs-list, #colorbox .view .views-field ul.horizontal-tabs-list, #colorbox .view .field-content ul.horizontal-tabs-list {
  margin: 0;
}
#page .node ul.horizontal-tabs-list > li, #page .view .views-field ul.horizontal-tabs-list > li, #page .view .field-content ul.horizontal-tabs-list > li, #colorbox .node ul.horizontal-tabs-list > li, #colorbox .view .views-field ul.horizontal-tabs-list > li, #colorbox .view .field-content ul.horizontal-tabs-list > li {
  list-style-type: none;
}
#page ul.horizontal-tabs-list, #colorbox ul.horizontal-tabs-list {
  margin: 0;
}
#page ul.horizontal-tabs-list > li, #colorbox ul.horizontal-tabs-list > li {
  list-style-type: none;
}
#page ul.chosen-results, #colorbox ul.chosen-results {
  margin: 0;
}
#page .chosen-search input, #colorbox .chosen-search input {
  width: 100%;
}
#page .node ol, #page .view .views-field ol, #page .view .field-content ol, #colorbox .node ol, #colorbox .view .views-field ol, #colorbox .view .field-content ol {
  margin: 10px 0 0 25px;
}
#page .node ol li, #page .view .views-field ol li, #page .view .field-content ol li, #colorbox .node ol li, #colorbox .view .views-field ol li, #colorbox .view .field-content ol li {
  list-style: decimal;
}
#page .node ol ol, #page .view .views-field ol ol, #page .view .field-content ol ol, #colorbox .node ol ol, #colorbox .view .views-field ol ol, #colorbox .view .field-content ol ol {
  margin: 5px 25px;
}
#page .node ol ol li, #page .view .views-field ol ol li, #page .view .field-content ol ol li, #colorbox .node ol ol li, #colorbox .view .views-field ol ol li, #colorbox .view .field-content ol ol li {
  list-style-type: upper-alpha;
}
#page .node ol ol ol li, #page .view .views-field ol ol ol li, #page .view .field-content ol ol ol li, #colorbox .node ol ol ol li, #colorbox .view .views-field ol ol ol li, #colorbox .view .field-content ol ol ol li {
  list-style-type: lower-alpha;
}
#page .node ol ol ol ol li, #page .view .views-field ol ol ol ol li, #page .view .field-content ol ol ol ol li, #colorbox .node ol ol ol ol li, #colorbox .view .views-field ol ol ol ol li, #colorbox .view .field-content ol ol ol ol li {
  list-style-type: decimal;
}
#page .pagination, #colorbox .pagination {
  width: 100%;
  background: none repeat scroll 0% 0% #ebebeb;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #bbb #999;
  font-size: 1.2em;
}
#page .pagination > li > a, #page .pagination li > span, #colorbox .pagination > li > a, #colorbox .pagination li > span {
  padding: 0 7px;
  border-left: 1px solid #bbb;
  border-color: #ddd #bbb #999;
}
#page .pagination li.active a, #colorbox .pagination li.active a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1a1a1a), color-stop(1, #5a5a5a));
  background: -moz-linear-gradient(top center, #1a1a1a 0%, #5a5a5a 100%);
}
#page .pagination li.next, #colorbox .pagination li.next {
  float: right;
}
#page .fieldset, #colorbox .fieldset {
  padding-bottom: 15px;
}
#page .node-content .quicktabs-tabpage, #colorbox .node-content .quicktabs-tabpage {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}
#page .node-content ul.quicktabs-tabs.quicktabs-style-zen, #colorbox .node-content ul.quicktabs-tabs.quicktabs-style-zen {
  background: none;
}

#zone-users .region {
  padding: 0;
}

#zone-branding {
  position: relative;
  z-index: 50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 8px 8px #000;
  -webkit-box-shadow: 0 8px 8px #000;
}
#zone-branding .site-details {
  padding: 20px;
  color: #fff;
}
#zone-branding .site-details a.logo {
  float: left;
}
#zone-branding .site-details .site-info {
  padding: 0 15px;
  float: left;
  width: 80%;
}
#zone-branding .site-details .site-info .site-name h1 {
  font-size: 26px;
  font-family: "Times New Roman",Georgia,Times,serif;
  color: #FFF;
  display: inline;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  padding: 7px 0px 0px;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
#zone-branding a {
  color: #fff;
  text-decoration: none;
}
#zone-branding input {
  width: 100%;
}
#zone-branding .region-menu h2.block-title {
  display: none;
}
#zone-branding .region-menu .content > ul.menu li {
  border-radius: 5px;
}
#zone-branding .region-menu .content > ul.menu li a {
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
}
#zone-branding .region-menu .content > ul.menu ul {
  background: #fff;
  border-radius: 5px;
}
#zone-branding .region-menu .content > ul.menu ul a, #zone-branding .region-menu .content > ul.menu ul .glyphicon {
  color: #000;
}
#zone-branding .region-menu .content > ul.menu > li:hover > a, #zone-branding .region-menu .content > ul.menu > li:hover > .glyphicon {
  color: #000;
  background: #fff;
}
#zone-branding .region-menu .content > ul.menu .glyphicon {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 25px;
  z-index: 20;
  cursor: pointer;
}
#zone-branding .region-menu .content > ul.menu ul {
  display: none;
  box-shadow: 0 0 6px #000;
}

#zone-header {
  margin: 0 0 10px;
}
#zone-header .region {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

#zone-content {
  display: block;
  width: 100%;
  padding-bottom: 640px;
}
#zone-content h2 {
  text-transform: uppercase;
}

#preface-group {
  box-shadow: 6px 0 5px -6px rgba(0, 0, 0, 0.5), -6px 0 5px -6px rgba(0, 0, 0, 0.5);
}
#preface-group .region {
  padding: 0;
}
#preface-group .node .content {
  padding: 15px;
}
#preface-group .block-quicktabs .content {
  padding: 0;
}
#preface-group .mbp-defaults-row {
  margin-bottom: 0;
  width: 100%;
}
#preface-group .mbp-defaults-row .content {
  padding: 15px;
}
#preface-group h2.title, #preface-group h2.block-title {
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: medium none;
  margin: 0 0 10px 0;
  padding: 20px 10px 10px;
}
#preface-group.total-prefaces-2 .block-inner > .content, #preface-group.total-prefaces-3 .block-inner > .content {
  padding: 5px 20px;
}

#content-wrapper {
  box-shadow: 6px 0 5px -6px rgba(0, 0, 0, 0.5), -6px 0 5px -6px rgba(0, 0, 0, 0.5);
}

#content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  /*
  * Style for grandchild tabs generated by the menublock module
  */
}
#content h1#page-title, #content h1#node-page-title {
  line-height: 130%;
  padding: 17px 15px 15px 25px;
  margin: 0;
}
#content .block-menu-block h2.block-title {
  display: none;
}
#content .menu-block-wrapper {
  margin-bottom: 2em;
}
#content .menu-block-wrapper ul.menu {
  display: table;
  white-space: normal;
}
#content .menu-block-wrapper li {
  display: inline-block;
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  padding: .15em .75em;
  text-decoration: none;
  text-align: center;
  border-radius: 15px 15px 0 0;
  margin-top: 5px;
}
#content .menu-block-wrapper li.active {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb #bbb #fff;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
}
#content .menu-block-wrapper li:hover {
  background-color: #eee;
}
@media (max-width: 500px) {
  #content .menu-block-wrapper ul.menu {
    width: 100%;
  }
  #content .menu-block-wrapper li a, #content .menu-block-wrapper li {
    display: block;
  }
}

#sidebar-second .block-menu-block .glyphicon {
  cursor: pointer;
  position: absolute;
  top: 13px;
  z-index: 10;
  width: 28px;
  height: 20px;
  text-align: center;
}
#sidebar-second .block-menu-block ul.menu {
  border: 1px solid #ccc;
  border-radius: 10px;
}
#sidebar-second .block-menu-block ul.menu ul {
  margin-left: 15px;
  border: none;
}
#sidebar-second .block-menu-block ul.menu ul li {
  border: none;
}
#sidebar-second .block-menu-block ul.menu li {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
#sidebar-second .block-menu-block ul.menu li a {
  padding-left: 30px;
}
#sidebar-second .block-menu-block ul.menu li.first a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#sidebar-second .block-menu-block ul.menu li.last {
  border-bottom: none;
}
#sidebar-second .block-menu-block ul.menu li.last a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 15px 10px 30px;
}

#postscript-group {
  box-shadow: 0 6px 7px -1px rgba(0, 0, 0, 0.5);
}
#postscript-group .mbp-defaults-row {
  width: 100%;
}
#postscript-group .postscript {
  max-width: 100%;
}
#postscript-group.single-postscript .postscript {
  width: 100%;
}

#zone-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
}
#zone-footer .region {
  padding: 0;
}
#zone-footer .region-footer-second p {
  margin-bottom: 0;
}
#zone-footer .region-footer-second .block-title {
  display: none;
}
#zone-footer .region-footer-second ul.menu {
  list-style: none;
}
#zone-footer .region-footer-second ul.menu li {
  display: inline-block;
  letter-spacing: 0.02em;
  list-style: none outside none;
  margin: 0 10px 5px 0;
  padding-bottom: 0;
  text-transform: uppercase;
}
#zone-footer .region-footer-second ul.menu li:hover > a {
  color: #000;
}
#zone-footer .region-footer-second ul.menu a {
  padding: 5px 15px;
  border-radius: 5px;
}

#footer-branding {
  width: 100%;
}
#footer-branding .footer-wrapper .site-info {
  padding: 15px;
  float: left;
  width: 70%;
}
#footer-branding .footer-wrapper img {
  float: left;
  padding: 15px;
  min-width: 95px;
}
#footer-branding .footer-wrapper .footer-field {
  padding-right: 10px;
}
#footer-branding .footer-wrapper .site-name {
  font-size: 1.5em;
  line-height: 1em;
  color: #ffffff;
  font-family: "Times New Roman", Georgia, Times, serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 7px 0 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#footer-branding .footer-wrapper .site-slogan {
  font-size: 0.9em;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #fff;
  font-family: "Times New Roman", Georgia, Times, serif;
  font-weight: 100;
  line-height: 1.3em;
  margin-top: 5px;
}

#footer-contact {
  width: 100%;
  padding: 0 20px;
  margin: 10px 0;
}
#footer-contact .footer-field {
  color: #333;
}
#footer-contact .footer-title {
  color: #474848;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 0;
  font-size: 1.2em;
  padding-top: 10px;
}
#footer-contact .footer-info {
  display: block;
  padding: 0 0 10px 0;
}
#footer-contact .footer-info .footer-address {
  float: left;
  background: url("../img/contact.png") repeat-x scroll center bottom white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
}
@media (min-width: 450px) {
  #footer-contact .footer-info .footer-address {
    width: 70%;
  }
}
#footer-contact .footer-info .footer-address .footer-phone-group {
  float: left;
}
#footer-contact .footer-info .footer-address .footer-agency {
  font-weight: bold;
}
#footer-contact .footer-info .footer-address > div {
  float: left;
  width: 50%;
}
#footer-contact .footer-info .footer-map {
  margin: 0 auto;
  float: left;
}
@media (min-width: 450px) {
  #footer-contact .footer-info .footer-map {
    width: 30%;
  }
}
#footer-contact .footer-info .footer-map img {
  margin-left: 20px;
  box-shadow: 0 0 5px #000;
  border: 1px #808080 solid;
}
#footer-contact .footer-info .footer-phone-group {
  margin-top: 25px;
}
#footer-contact .footer-info .footer-field {
  border-bottom: 1px solid #efefef;
  padding: 3px 0;
}

#breadcrumb {
  box-shadow: 6px 0 5px -6px rgba(0, 0, 0, 0.5), -6px 0 5px -6px rgba(0, 0, 0, 0.5);
}
#breadcrumb ul.breadcrumb {
  font-family: Georgia, serif;
  margin: 7px 3px 0 20px;
  font-style: italic;
  font-size: 0.9em;
  padding: 0.7em;
  background-color: transparent;
}
#breadcrumb ul.breadcrumb > li + li:before {
  content: " » ";
}
#breadcrumb ul.breadcrumb a.active {
  color: #ccc;
}

.ajax-progress-throbber {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
table tbody {
  border: medium none;
}
table th {
  background: none repeat scroll 0% 0% #f7f7f7;
  border-bottom: 1px solid #ccc;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 8px;
  vertical-align: middle;
}
table tr {
  border-bottom: 1px solid #ccc;
}
table tr.odd {
  background: #eee;
}
table tr.even {
  background: #fff;
}
table tr.even:hover td, table tr.odd:hover td {
  background: #fffeee;
}
table td {
  padding: 4px 8px;
  vertical-align: middle;
}

blockquote {
  font-family: Georgia, serif;
  padding: 25px 30px 15px;
  background: url("../img/bg-quote.gif") repeat scroll 0% 0% transparent;
  margin: 20px 0;
  color: #333;
  font-style: italic;
  font-size: 1em;
}
blockquote p {
  font-size: 1em;
}

.file, .more-link {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin: 5px 0;
  white-space: normal;
  background: url("../img/bullet-arrow.png") no-repeat scroll 95% center transparent;
  padding: 7px 45px 7px 20px;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: normal;
}
.media .file, .media .more-link {
  display: inherit;
  margin: 0;
  background: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

body.front #page-title, body.front #block-system-main {
  display: none;
}

#colorbox #content {
  box-shadow: none;
}
#colorbox #page-title, #colorbox #block-system-main {
  display: block;
}

.view .views-field {
  margin-bottom: 10px;
}
.view .views-field:last-child {
  margin-bottom: 0;
}
.view .views-field-title {
  font-weight: bold;
}
.view .views-row {
  margin-bottom: 10px;
}
.view .progress-disabled {
  float: left;
}

[class*='date-display'] {
  font-style: italic;
}

.staff-photo img {
  border: 4px solid #dcdcde;
}

.views-slideshow-cycle-main-frame, .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}

#page .media-youtube-video {
  width: 100%;
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
}
#page .media-youtube-video iframe, #page .media-youtube-video  object, #page .media-youtube-video  embed  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chosen-container.form-control {
  height: auto;
}

#mobile-menu {
  background: url("../img/menu.png");
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

#preface-group {
  display: flex;
  flex-wrap: wrap;
}
#preface-group [class*="view-mbp-"] .view-content {
  display: flex;
  flex-wrap: wrap;
}
#preface-group .preface, #preface-group .mbp-defaults-row {
  display: flex;
}
@media (max-width: 768px) {
  #preface-group .preface, #preface-group .mbp-defaults-row {
    width: 100%;
  }
}
#preface-group .preface > div, #preface-group .mbp-defaults-row > div {
  width: 100%;
}
#preface-group .preface:only-child, #preface-group .mbp-defaults-row:only-child {
  width: 100%;
}

@media (max-width: 992px) {
  #region-preface-first {
    width: 100%;
  }
}
#content-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#content-wrapper aside, #content-wrapper #content {
  display: flex;
}
#content-wrapper aside > div, #content-wrapper #content > div {
  width: 100%;
}
@media (max-width: 768px) {
  #content-wrapper aside {
    order: 5;
    width: 100%;
  }
  #content-wrapper #content {
    order: 1;
    width: 100%;
  }
}

.no-sidebars #content {
  width: 100%;
}
