#region-branding .site-details {
  float: left;
  width: 65%;
}
#region-branding .region-branding {
  float: left;
  width: 35%;
  padding-top: 20px;
}

#zone-branding .region-menu {
  display: block !important;
  padding: 0;
}
#zone-branding .region-menu .glyphicon {
  display: none !important;
}
#zone-branding .region-menu .content > ul.menu ul {
  width: 250px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  position: absolute;
}
#zone-branding .region-menu .content > ul.menu ul ul {
  left: 99%;
  top: 5px;
}
#zone-branding .region-menu .content > ul.menu ul li {
  margin: 3px;
  background: #e8e8e8;
}
#zone-branding .region-menu .content > ul.menu > li:hover > ul, #zone-branding .region-menu .content > ul.menu > li li:hover > ul {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
#zone-branding .region-menu .content > ul.menu > li {
  float: left;
}
#zone-branding .region-menu li.menu-li-home > a {
  font-size: 0 !important;
}
#zone-branding .region-menu li.menu-li-home > a:before {
  font-family: "Glyphicons Halflings";
  content: "\e021";
  position: relative;
  display: block;
  font-size: 20px;
}

#preface-group .preface {
  border-right: 1px solid #999;
  max-width: 100%;
}
#preface-group .preface:last-child {
  border-right: none;
}
#preface-group .region.menu-block-placement-doesnt-exist .block-inner > .content {
  padding: 10px;
}
#preface-group .mbp-defaults-row {
  border-right: 1px solid #999;
}
#preface-group .mbp-defaults-row.views-row-last {
  border-right: none;
}

#postscript-group .region.menu-block-placement-doesnt-exist .block-inner > .content {
  padding: 10px;
}
#postscript-group .mbp-defaults-row {
  padding: 0 10px;
}
@media (max-width: 920px) {
  #postscript-group.three-postscript .postscript {
    width: 50%;
  }
  #postscript-group.three-postscript .postscript:first-child {
    width: 100%;
  }
}

#preface-group .total-results-2 .mbp-defaults-row, #preface-group .total-results-4 .mbp-defaults-row, #postscript-group .total-results-2 .mbp-defaults-row, #postscript-group .total-results-4 .mbp-defaults-row {
  float: left;
  width: 50%;
}
@media (max-width: 920px) {
  #preface-group .total-results-2 .mbp-defaults-row:nth-of-type(3n + 3), #preface-group .total-results-4 .mbp-defaults-row:nth-of-type(3n + 3), #postscript-group .total-results-2 .mbp-defaults-row:nth-of-type(3n + 3), #postscript-group .total-results-4 .mbp-defaults-row:nth-of-type(3n + 3) {
    clear: both;
  }
}
#preface-group .total-results-3 .mbp-defaults-row, #preface-group .total-results-5 .mbp-defaults-row, #postscript-group .total-results-3 .mbp-defaults-row, #postscript-group .total-results-5 .mbp-defaults-row {
  float: left;
  width: 50%;
}
@media (max-width: 1240px) {
  #preface-group .total-results-3 .mbp-defaults-row:nth-of-type(3n + 1), #preface-group .total-results-5 .mbp-defaults-row:nth-of-type(3n + 1), #postscript-group .total-results-3 .mbp-defaults-row:nth-of-type(3n + 1), #postscript-group .total-results-5 .mbp-defaults-row:nth-of-type(3n + 1) {
    clear: both;
  }
}
#preface-group .total-results-3 .mbp-defaults-row.views-row-first, #preface-group .total-results-5 .mbp-defaults-row.views-row-first, #postscript-group .total-results-3 .mbp-defaults-row.views-row-first, #postscript-group .total-results-5 .mbp-defaults-row.views-row-first {
  width: 100%;
}

#sidebar-second {
  border-left: 1px solid #ccc;
}

#content {
  box-shadow: none;
}

#sidebar-first {
  border-right: 1px solid #ccc;
}

#footer-first-contact #footer-state-seal {
  float: left;
  width: 40%;
}
#footer-first-contact #footer-contact {
  float: right;
  width: 60%;
}

#mobile-menu {
  display: none;
}
