.node .field {
  margin-bottom: 15px;
}

.node .field:last-child {
  margin-bottom: 0px;
}

.node.node-unpublished {
  background-color: #ffebe0;
}

/*
* Style for expandable page content type
*/
.node-expandable-page .field-name-field-expandable-page-link-label {
  cursor: pointer;
  text-decoration: underline;
}

/*
* Style for slideshow content.
*/
#page .node-basic-slideshow.basic-slideshow-style-1 a, #colorbox .node-basic-slideshow.basic-slideshow-style-1 a {
  color: #E64814;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-controls, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-controls {
  display: none;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow {
  padding: 0 !important;
  width: 100% !important;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-slide, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-slide {
  width: 100% !important;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-name-field-basic-slideshow-images, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-name-field-basic-slideshow-images {
  background: #171717;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-image, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-image {
  float: right;
  max-width: 65%;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption {
  display: inline-block;
  width: 33%;
  font-size: 15px;
  max-height: 221px;
  overflow: auto;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption p, #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption div, #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption h1, #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption h2, #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption h3, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption p, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption div, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption h1, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption h2, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption h3 {
  margin: 10px;
  color: #fff;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-wrapper, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-wrapper {
  position: relative;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-pager, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-pager {
  position: absolute;
  bottom: 10px;
  z-index: 100;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-pager a, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-pager a {
  display: inline-block;
  height: 18px;
  width: 18px;
  text-indent: -9999px;
  border-radius: 9px;
  margin-left: 5px;
}
#page .node-basic-slideshow.basic-slideshow-style-1 .file, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .file {
  font-weight: 300;
}
@media (max-width: 600px) {
  #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-image, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-image {
    max-width: 100%;
  }
  #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption {
    width: 100%;
    display: block;
    max-height: 100%;
  }
  #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-wrapper, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-wrapper {
    height: auto !important;
  }
  #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-pager, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-pager {
    position: inherit;
    padding: 5px 10px 10px;
  }
  #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-slide, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-slide {
    height: auto !important;
  }
  #page .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption, #colorbox .node-basic-slideshow.basic-slideshow-style-1 .field-slideshow-caption {
    max-height: none !important;
    display: inline-block;
  }
}
@media (min-width: 768px) {
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-slide, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-slide {
    width: 100% !important;
    max-height: 440px;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-slide > a, #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-slide img, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-slide > a, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-slide img {
    width: 100% !important;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 40px;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls .prev, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls .prev {
    text-decoration: none;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls .prev:before, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls .prev:before {
    font-family: "Glyphicons Halflings";
    content: "\e079";
    position: relative;
    z-index: 10;
    text-decoration: none;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls .next, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls .next {
    float: right;
    text-decoration: none;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls .next:after, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls .next:after {
    font-family: "Glyphicons Halflings";
    content: "\e080";
    position: relative;
    z-index: 10;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-wrapper, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-wrapper {
    position: relative;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-pager, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-pager {
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 10;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-pager a, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-pager a {
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 5px;
    color: transparent;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-caption, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-caption {
    position: absolute;
    z-index: 10;
    left: 60px;
    bottom: 70px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
  }
}
@media (max-width: 768px) {
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-controls {
    display: none;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-caption, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-caption {
    overflow-y: scroll;
  }
  #page .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-pager a, #colorbox .node-basic-slideshow.basic-slideshow-style-2 .field-slideshow-pager a {
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 5px;
  }
}
#page .node-form .vertical-tabs-panes, #colorbox .node-form .vertical-tabs-panes {
  overflow: visible;
}

/* Hide content title in block */
#zone-header .node-basic-slideshow h2.title {
  display: none;
}

/*
* Webforms
*/
.node-webform .webform-component {
  margin-top: 20px;
}
.node-webform label {
  width: 100%;
}
.node-webform .form-control {
  width: auto;
}
.node-webform textarea.form-control {
  width: 100%;
}
.node-webform .webform-component.webform-container-inline > label {
  width: auto;
  float: left;
}
.node-webform .webform-component.webform-container-inline > input {
  float: left;
}
.node-webform .webform-component.webform-container-inline > div.form-item {
  display: block;
  float: left;
  width: auto;
  padding-left: 25px;
}
.node-webform .webform-component.webform-container-inline:after, .node-webform .webform-datepicker:after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.node-webform .form-radios > div, .node-webform .form-checkboxes > div {
  padding-left: 20px;
}
.node-webform .webform-datepicker > div, .node-webform .webform-datepicker > input {
  float: left;
}
.node-webform .webform-component-webform_time div.form-item {
  display: inline-block;
}
.node-webform .webform-component-checkboxes.webform-container-inline > label, .node-webform .webform-component-checkboxes.webform-container-inline div.form-checkboxes, .node-webform .webform-component-checkboxes.webform-container-inline div.form-radios,
.node-webform .webform-component-radios.webform-container-inline > label,
.node-webform .webform-component-radios.webform-container-inline div.form-checkboxes,
.node-webform .webform-component-radios.webform-container-inline div.form-radios {
  float: left;
}
.node-webform .webform-component-checkboxes.webform-container-inline div,
.node-webform .webform-component-radios.webform-container-inline div {
  display: block;
}
.node-webform .form-submit {
  float: right;
}

.view .date-nav-wrapper li.date-prev, .view .date-nav-wrapper li.date-next {
  background: none;
}
.view .date-nav-wrapper li.date-prev {
  left: 0;
  right: 0;
}
.view .date-nav-wrapper li.date-prev a {
  float: left;
}

#home-rotator {
  border: none;
}

.view-home-page-feature-rotator {
  width: 100%;
}
.view-home-page-feature-rotator h2 {
  border-bottom: none !important;
}
.view-home-page-feature-rotator h2 a {
  color: #fff !important;
  font-style: normal;
}
.view-home-page-feature-rotator .home-rotator-slide {
  margin: 0;
  width: 100% !important;
  height: auto !important;
}
.view-home-page-feature-rotator .home-rotator-photo {
  float: right;
  width: 60%;
}
.view-home-page-feature-rotator .home-rotator-photo img {
  width: 100%;
  height: 290px !important;
}
.view-home-page-feature-rotator .home-rotator-text-block {
  width: 40%;
  float: left;
  margin: 0;
  background: #1E1D1D;
}
.view-home-page-feature-rotator .home-rotator-text-block .home-top-intro {
  margin: 0 15px;
  height: 200px;
  max-height: 200px;
}
.view-home-page-feature-rotator .home-rotator-text-block .home-top-read-more {
  margin: 15px;
  border-bottom: 1px solid #666;
  width: 80%;
  text-align: left;
  padding-bottom: 10px;
}
.view-home-page-feature-rotator .home-rotator-text-block .home-top-read-more a {
  margin-left: 30px;
  color: #e05a00;
}
.view-home-page-feature-rotator .home-top-numbers ul {
  padding: 0 0 0 40px;
  float: left;
}
.view-home-page-feature-rotator .home-top-numbers a {
  text-indent: -9999px;
  background: #f1d6b8;
  height: 15px;
  width: 15px;
  border-radius: 10px;
}
.view-home-page-feature-rotator .home-top-numbers a.activeSlide {
  background: #ed5c2d;
}

@media (max-width: 600px) {
  #home-rotator {
    height: auto;
  }

  .view-home-page-feature-rotator .home-rotator-slide {
    position: inherit !important;
  }
  .view-home-page-feature-rotator .home-rotator-photo {
    width: 100%;
    float: none;
  }
  .view-home-page-feature-rotator .home-rotator-photo img {
    height: auto !important;
  }
  .view-home-page-feature-rotator .home-rotator-text-block {
    width: 100%;
    float: none;
  }
}
