#edit-javascript, #edit-advanced, #palette, #placeholder, .form-item-toggle-main-menu, .form-item-toggle-secondary-menu {
  display: none !important;
}

.color-form .form-item {
  display: block;
  height: 40px !important;
}

#edit-color .form-item {
  display: inline-block;
}
