html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}

img, iframe, table, p, input {
  max-width: 100%;
}

p {
  line-height: 20px;
  margin-bottom: 10px;
}

legend {
  font-size: 1.2em;
}

h1, h2, h3, h4, h5 {
  color: #600;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 0;
}

h1 {
  font-weight: bold;
  color: #333;
  font-size: 1.5em;
  text-transform: none;
}

h2 {
  border-bottom: 4px solid #DCD2C3;
  padding: 15px 0 7px;
  margin-bottom: 10px;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #600;
}

h3, h4, h5, h6 {
  font-size: 1.0em;
}

.file {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin: 5px 0;
  white-space: normal;
  background: url("../img/bullet-arrow.png") no-repeat scroll 95% center transparent;
  padding: 7px 45px 7px 20px;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: normal;
}

table {
  width: 100%;
  border: 1px solid #CCC;
  margin-top: 10px;
  margin-bottom: 10px;
}
table tbody {
  border: medium none;
}
table th {
  background: none repeat scroll 0% 0% #F7F7F7;
  border-bottom: 1px solid #CCC;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 8px;
  vertical-align: middle;
}
table tr {
  border-bottom: 1px solid #CCC;
}
table tr.odd {
  background: #eee;
}
table tr.even {
  background: #fff;
}
table tr.even:hover td, table tr.odd:hover td {
  background: #fffeee;
}
table td {
  padding: 4px 8px;
  vertical-align: middle;
}

p.file, div.file, span.file, a.file {
  background-color: #d9cfc6;
}

blockquote {
  font-family: Georgia, serif;
  padding: 25px 30px 15px;
  background: url("../img/bg-quote.gif") repeat scroll 0% 0% transparent;
  margin: 20px 0;
  color: #333;
  font-style: italic;
  font-size: 1em;
}
blockquote p {
  font-size: 1em;
}
