.payment-limits-group {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

#page .payment-limits-group .form-item {
  padding-left: 15px;
}

#page .payment-limits-group .form-item.form-type-textfield {
  padding-left: 25px;
}

#page .payment-limits-group .form-item.form-type-textfield input{
  line-height: 19px;
}

.limits-prefix {
  position: relative;
}

.limits-prefix .prefix {
  position: absolute;
  bottom: 13px;
  left: 15px;
}

.payment-limits-group-name {
  width: 100%;
  flex: 100% 1 1;
  font-weight: bold;
  padding-bottom: 5px;
}